* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
}

#page {
  width: 800px;
  padding: 24px;
  border-radius: 24px;
  background: #F0E8C2;
  margin: 48px auto;
}

img {
  border-radius: 14px;
}